name: ci

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main", "docs" ]

jobs:
  vscode:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.12
      uses: actions/setup-python@v5
      with:
        python-version: 3.12
    - uses: actions/setup-node@v4
      with:
        node-version: 20
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install uv
        uv venv
        source .venv/bin/activate
        uv pip install -r dev-requirements.txt
    - name: Setup extension
      run: |
        source .venv/bin/activate
        nox --session setup
        npm install
    - name: Test with nox
      run: |
        source .venv/bin/activate
        nox --session tests
    - name: Check ruff
      run: |
        source .venv/bin/activate
        ruff check
        ruff format --check
    - name: Check types with pyright
      run: |
        source .venv/bin/activate
        pyright
